# This file is templated in .ebextensions-templates.
# The version here exists for local development/deployment.
# Be sure to use the right TARGET_EFS_ID if using locally.
#
packages:
  yum:
    # We need nfs-utils in order to mount EFS targets.
    nfs-utils: []
files:
  # This script mounts the EFS files system on an EC2 instance. It is invoked
  # in the "commands" section below.
  "/tmp/mount-efs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      export TARGET_EFS_ID=fs-0115c048

      echo "$(date): Trying to mount EFS $TARGET_EFS_ID" >> /var/log/mount.log 2>&1

      # EFS endpoints are created one per availbility zone (i.e. subnet in our case)
      EC2_AVAIL_ZONE=`curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone`

      # A hack to compute the AWS region, since it is not available directly
      # via instance metadata.
      EC2_REGION="`echo \"$EC2_AVAIL_ZONE\" | sed -e 's:\([0-9][0-9]*\)[a-z]*\$:\\1:'`"

      # Construct the EFS endpoint string
      ENDPOINT=$EC2_AVAIL_ZONE.$TARGET_EFS_ID.efs.$EC2_REGION.amazonaws.com:/

      # Mount the endpoint
      /bin/mount -t nfs4 -o nfsvers=4.1 $ENDPOINT /mnt/efs  >> /var/log/mount.log 2>&1

      # Update /etc/fstab to mount system at reboot
      if ! grep -q "/mnt/efs" /etc/fstab; then
        echo "Updating /etc/fstab to mount EFS"  >> /var/log/mount.log 2>&1
        echo "$ENDPOINT /mnt/efs nfs4 nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,bg 0 0" >> /etc/fstab
      fi

      # Docker needs to be restarted to become aware of the new file system.
      echo "Restarting docker service..." >> /var/log/mount.log 2>&1
      /usr/bin/docker stop ecs-agent >> /var/log/mount.log 2>&1
      /sbin/service docker restart >> /var/log/mount.log 2>&1
      /usr/bin/docker start ecs-agent >> /var/log/mount.log 2>&1
      /usr/bin/docker ps -a >> /var/log/mount.log 2>&1
      #if [ $? -eq 0 ]; then
      #  echo "Docker restart successful." >> /var/log/mount.log 2>&1
      #else
      #  echo "Failed to restart docker. Moving forward without restart..." >> /var/log/mount.log 2>&1
      #fi
      /sbin/service docker status >> /var/log/mount.log 2>&1

      # We have been successful if /mnt/efs shows up in /proc/mounts.
      # Use this as the exit code.
      /bin/grep -qs '/mnt/efs ' /proc/mounts

commands:
  # Create a directory to which the EFS will be mouned,
  # only if it does not already exist.
  010-make-mount-point:
    command: "mkdir /mnt/efs"
    test: "[ ! -d /mnt/efs ]"
  # Execute the script to mount the EFS, if it isn't already mounted (i.e.,
  # listed in /proc/mounts).
  020-mount-efs:
    command: "/tmp/mount-efs.sh"
    test: "! grep -qs '/mnt/efs ' /proc/mounts"
  030-prove-efs:
    command: "echo 030-prove-efs: EFS is mounted >> /var/log/mount.log"
    test: "grep -qs '/mnt/efs ' /proc/mounts"
  040-prove-efs:
    command: "echo 040-prove-efs: EFS is NOT mounted >> /var/log/mount.log"
    test: "! grep -qs '/mnt/efs ' /proc/mounts"
  050-complete:
    command:  "logger efs.config complete"

